/*
#000000
#c4d6b0
#9a031e
#faa916
#2e3532
#FFFFFF
*/


@font-face {
    font-family: 'Josefin Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Josefin+Sans');
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #2e3532;
}

.scrolling-text-container {
  width: 85%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: auto;
}

.scrolling-text {
  margin: 5px 0;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  font-size: 14px;
}

.scrolling-past {
  white-space: pre;
  direction: rtl;
  width: 100px;
  color: #c4d6b0;
  font-weight: 100;
}

.scrolling-current {
  color: #faa916;
  align-self: center;
  flex: 0 ;
  margin: 0 5px;
  font-weight: bold;
  font-size: 16px;
}

.scrolling-future {
  width: 100px;
  color: #c4d6b0;
  font-weight: 100;
}

.word-wrapper::before {
  content: "";
  position: absolute;
  top: -10px;
  z-index      : 1;
  margin-top   : 13px position:absolute;
  border-bottom: 10px solid #ffffff;
  border-right : 10px solid transparent;
  border-left  : 10px solid transparent;
}

.word-wrapper {
  margin: 5px auto;
  background-color: #ffffff;
  height: 100px;
  width: 90%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.line {
  height: 0;
  width: 90%;
  border: 1px solid #2e3532;
  opacity: .7;
  position: absolute;
}

.top-line {
  top: 10px;
}

.bottom-line {
  bottom: 10px
}

.viewer {
  font-weight: bold;
  font-size: 45px;
  color: #2e3532;
  margin: 0;
}

footer {
  margin: 10px 0;
  display: flex;
}

.speed-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  left: 20px;
  justify-content: flex-start;
}

.speed-button-container {
  display: flex;
  flex-direction: column;
}

.wpm-readout {
  margin-left: 10px;
  color: #c4d6b0;
  font-weight: 100;
  font-size: 12px;
}

.wpm {
  font-size: 24px;
  font-weight: bold;
}

.progress-container {
  position: absolute;
  flex-direction: column;
  display: flex;
  right: 20px;
  align-items: flex-end;
}

.readout {
  margin: 0;
  color: #c4d6b0;
  font-weight: 100;
  font-size: 12px;
}

.count {
  font-weight: bold;
  font-size: 18px;
}

#play-pause-button {
  height: 30px;
  width: 30px;
  margin: 0 auto;
}

#last-button {
  position: absolute;
  left: 10px;
  top: 10px;
}

#next-button {
  position: absolute;
  right: 10px;
  top: 10px;
}

#faster-button {
  background-color: Transparent;
  border: none;
  background-image: url('../images/faster.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}
#slower-button {
  background-color: Transparent;
  border: none;
  background-image: url('../images/slower.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}

#last-button {
  background-color: Transparent;
  border: none;
  background-image: url('../images/last.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}

#next-button {
  background-color: Transparent;
  border: none;
  background-image: url('../images/next.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}
