
/*#000000
#c4d6b0
#9a031e
#faa916
#2e3532
#FFFFFF*/

@font-face {
    font-family: 'Josefin Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Josefin+Sans');
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

.word-wrapper {
  text-align: center;
  margin: 20px auto;
  font-size: 2em;
}



.scrolling-text-container {
  text-align: center;
  width: 90%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: auto;
}

.scrolling-text {
  white-space: nowrap;
  display: flex;
  flex-direction: row;

}

.scrolling-past {
  white-space: pre;
  direction: rtl;
  width: 100px;
}

.scrolling-current {
  color: red;
  align-self: center;
  flex: 0 ;
  margin: 0 5px;
  font-weight: bold;
}

.scrolling-future {
  width: 100px
  /*align-self: flex-start;*/
}

#faster-button {
  background-color: Transparent;
  border: none;
  background-image: url('../images/faster.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}
#slower-button {
  background-color: Transparent;
  border: none;
  background-image: url('../images/slower.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}

#last-button {
  background-color: Transparent;
  border: none;
  background-image: url('../images/last.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}

#next-button {
  background-color: Transparent;
  border: none;
  background-image: url('../images/next.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}
